.searcherInput {
	outline: none;
	display: flex;
	align-items: center;
	padding: 12px 12px 12px 30px;
	margin-bottom: 16px;

	width: 400px;
	height: 40px;

	border-radius: 8px;
	border: none;

	font-size: 14px;
	font-family: 'Roboto';

	transition: outline-color 0.7s ease-out;
}

.searcherInput:hover {
	cursor: pointer;
}

.searcherInput:focus {
	outline: solid;
	outline-width: 1px;
	outline-color: #ff5500;
}

.searcher {
	display: flex;
	align-items: center;
	position: relative;
}

.icon {
	position: absolute;
	top: 10px;
	width: 16px;
	height: 16px;
}
