input {
	outline: none;
	display: flex;
	align-items: center;
	padding: 12px;
	margin-bottom: 16px;

	width: 400px;
	height: 40px;

	border-radius: 8px;
	border: none;

	font-size: 14px;
	font-family: 'Roboto';

	transition: outline-color 0.7s ease-out;
}

input:hover {
	cursor: pointer;
}

input:focus {
	outline: solid;
	outline-width: 1px;
	outline-color: #ff5500;
}
